.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.844727;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:52.704000px;}
.fc3{color:rgb(0,112,192);}
.fc1{color:rgb(197,89,17);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs7{font-size:36.000000px;}
.fs6{font-size:40.000000px;}
.fs0{font-size:42.000000px;}
.fs3{font-size:44.000000px;}
.fs5{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs4{font-size:72.000000px;}
.fs1{font-size:112.000000px;}
.yd{bottom:2.427141px;}
.y2d{bottom:3.722131px;}
.y85{bottom:5.555647px;}
.y2{bottom:15.637001px;}
.yc{bottom:15.855150px;}
.y2c{bottom:17.521143px;}
.yb{bottom:29.283148px;}
.y2b{bottom:31.320123px;}
.y6{bottom:34.338152px;}
.y1{bottom:35.450045px;}
.y0{bottom:42.000000px;}
.y2a{bottom:45.119135px;}
.y6c{bottom:46.284143px;}
.y5{bottom:50.437147px;}
.y46{bottom:50.500000px;}
.ya{bottom:50.711149px;}
.y29{bottom:58.918146px;}
.y6b{bottom:60.083154px;}
.y84{bottom:61.359936px;}
.y9{bottom:64.139150px;}
.y2e{bottom:64.682404px;}
.y56{bottom:65.581421px;}
.y83{bottom:66.960175px;}
.y4{bottom:72.237148px;}
.y28{bottom:72.717127px;}
.y6a{bottom:73.882135px;}
.y8{bottom:78.373150px;}
.ye{bottom:81.698425px;}
.y55{bottom:84.526178px;}
.y27{bottom:86.516138px;}
.y82{bottom:87.167175px;}
.y69{bottom:87.681146px;}
.y45{bottom:93.150110px;}
.y6d{bottom:96.698425px;}
.y54{bottom:98.325174px;}
.y26{bottom:100.315149px;}
.y68{bottom:101.480158px;}
.y44{bottom:106.949121px;}
.y81{bottom:107.911194px;}
.y53{bottom:112.124170px;}
.y25{bottom:114.114130px;}
.y67{bottom:115.279169px;}
.y43{bottom:120.748102px;}
.y52{bottom:125.923166px;}
.y24{bottom:127.913141px;}
.y66{bottom:129.078165px;}
.y80{bottom:130.559143px;}
.y42{bottom:134.547113px;}
.y51{bottom:139.722177px;}
.y23{bottom:141.712152px;}
.y65{bottom:142.877161px;}
.y7f{bottom:153.207184px;}
.y50{bottom:153.521173px;}
.y22{bottom:155.511133px;}
.y64{bottom:156.676172px;}
.y41{bottom:163.375147px;}
.y4f{bottom:167.320169px;}
.y21{bottom:169.310144px;}
.y63{bottom:170.475168px;}
.y7e{bottom:175.855164px;}
.y4e{bottom:181.119173px;}
.y20{bottom:183.109125px;}
.y62{bottom:184.274164px;}
.y40{bottom:189.729151px;}
.y4d{bottom:194.918169px;}
.y1f{bottom:196.908136px;}
.y61{bottom:198.073160px;}
.y7d{bottom:198.503174px;}
.y3f{bottom:203.528131px;}
.y4c{bottom:208.717172px;}
.y1e{bottom:210.707147px;}
.y60{bottom:211.872171px;}
.y3e{bottom:217.327142px;}
.y7c{bottom:221.151154px;}
.y4b{bottom:222.516168px;}
.y1d{bottom:224.506159px;}
.y5f{bottom:225.671167px;}
.y3d{bottom:231.126154px;}
.y4a{bottom:236.315172px;}
.y1c{bottom:238.305155px;}
.y5e{bottom:239.470163px;}
.y7b{bottom:243.262177px;}
.y3c{bottom:244.925165px;}
.y49{bottom:250.114168px;}
.y5d{bottom:253.269167px;}
.y1b{bottom:262.920130px;}
.y7a{bottom:263.469177px;}
.y5c{bottom:267.068163px;}
.y3b{bottom:273.753153px;}
.y48{bottom:278.942165px;}
.y5b{bottom:280.867166px;}
.y79{bottom:284.213196px;}
.y5a{bottom:294.666162px;}
.y1a{bottom:299.574152px;}
.y78{bottom:306.861176px;}
.y59{bottom:308.465166px;}
.y3a{bottom:312.924158px;}
.y19{bottom:313.373148px;}
.y58{bottom:322.264162px;}
.y39{bottom:326.723154px;}
.y18{bottom:327.172159px;}
.y38{bottom:340.522165px;}
.y17{bottom:340.971155px;}
.y77{bottom:349.789169px;}
.y57{bottom:351.092159px;}
.y37{bottom:354.321161px;}
.y16{bottom:354.770151px;}
.y36{bottom:368.120157px;}
.y15{bottom:368.569154px;}
.y76{bottom:369.996185px;}
.y47{bottom:370.548431px;}
.y35{bottom:381.919161px;}
.y14{bottom:382.368150px;}
.y75{bottom:390.740173px;}
.y34{bottom:395.718157px;}
.y13{bottom:396.167154px;}
.y33{bottom:409.517160px;}
.y12{bottom:409.966150px;}
.y74{bottom:413.388168px;}
.y32{bottom:423.316156px;}
.y11{bottom:423.765154px;}
.y31{bottom:437.115160px;}
.y10{bottom:437.564150px;}
.y30{bottom:450.914156px;}
.y73{bottom:456.853172px;}
.yf{bottom:466.392147px;}
.y72{bottom:471.501167px;}
.y2f{bottom:479.742153px;}
.y71{bottom:486.149170px;}
.y70{bottom:500.797173px;}
.y6f{bottom:523.445175px;}
.y6e{bottom:552.442171px;}
.y7{bottom:578.448456px;}
.y3{bottom:692.098457px;}
.h16{height:14.124647px;}
.h17{height:24.943359px;}
.h2{height:25.634001px;}
.h15{height:27.714844px;}
.h3{height:29.100586px;}
.h9{height:30.486328px;}
.he{height:31.992188px;}
.h14{height:33.257812px;}
.hc{height:34.945312px;}
.hd{height:34.992188px;}
.h8{height:38.800781px;}
.h6{height:40.824219px;}
.hb{height:52.417969px;}
.h5{height:81.539062px;}
.h7{height:91.703150px;}
.h4{height:103.053148px;}
.h11{height:302.753168px;}
.h12{height:374.903162px;}
.ha{height:490.203150px;}
.hf{height:503.553156px;}
.h13{height:576.603174px;}
.h10{height:791.500000px;}
.h1{height:800.000000px;}
.h0{height:841.900024px;}
.w9{width:174.850006px;}
.wa{width:177.477249px;}
.w5{width:183.750000px;}
.w4{width:333.750000px;}
.w3{width:334.500000px;}
.w7{width:339.399994px;}
.w8{width:352.200012px;}
.w2{width:540.850037px;}
.w6{width:566.450012px;}
.w0{width:595.299988px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x7{left:7.198819px;}
.xc{left:9.550000px;}
.x11{left:16.198819px;}
.x10{left:20.400000px;}
.x2{left:21.549999px;}
.x3{left:26.196818px;}
.x12{left:34.198819px;}
.xd{left:38.996819px;}
.x6{left:43.549999px;}
.x15{left:114.970816px;}
.x14{left:142.972815px;}
.x5{left:197.956815px;}
.xf{left:210.756818px;}
.x4{left:217.674832px;}
.xe{left:230.474820px;}
.x8{left:255.166837px;}
.x9{left:261.857816px;}
.xa{left:263.843808px;}
.xb{left:384.549988px;}
.x13{left:385.799988px;}
.x16{left:389.549988px;}
.x1{left:530.427990px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:70.272000pt;}
.fs7{font-size:48.000000pt;}
.fs6{font-size:53.333333pt;}
.fs0{font-size:56.000000pt;}
.fs3{font-size:58.666667pt;}
.fs5{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs4{font-size:96.000000pt;}
.fs1{font-size:149.333333pt;}
.yd{bottom:3.236188pt;}
.y2d{bottom:4.962842pt;}
.y85{bottom:7.407529pt;}
.y2{bottom:20.849335pt;}
.yc{bottom:21.140200pt;}
.y2c{bottom:23.361524pt;}
.yb{bottom:39.044197pt;}
.y2b{bottom:41.760165pt;}
.y6{bottom:45.784202pt;}
.y1{bottom:47.266726pt;}
.y0{bottom:56.000000pt;}
.y2a{bottom:60.158846pt;}
.y6c{bottom:61.712191pt;}
.y5{bottom:67.249529pt;}
.y46{bottom:67.333333pt;}
.ya{bottom:67.614865pt;}
.y29{bottom:78.557528pt;}
.y6b{bottom:80.110873pt;}
.y84{bottom:81.813248pt;}
.y9{bottom:85.518867pt;}
.y2e{bottom:86.243205pt;}
.y56{bottom:87.441895pt;}
.y83{bottom:89.280233pt;}
.y4{bottom:96.316197pt;}
.y28{bottom:96.956169pt;}
.y6a{bottom:98.509514pt;}
.y8{bottom:104.497533pt;}
.ye{bottom:108.931234pt;}
.y55{bottom:112.701571pt;}
.y27{bottom:115.354850pt;}
.y82{bottom:116.222900pt;}
.y69{bottom:116.908195pt;}
.y45{bottom:124.200147pt;}
.y6d{bottom:128.931234pt;}
.y54{bottom:131.100232pt;}
.y26{bottom:133.753532pt;}
.y68{bottom:135.306877pt;}
.y44{bottom:142.598828pt;}
.y81{bottom:143.881592pt;}
.y53{bottom:149.498893pt;}
.y25{bottom:152.152173pt;}
.y67{bottom:153.705558pt;}
.y43{bottom:160.997469pt;}
.y52{bottom:167.897555pt;}
.y24{bottom:170.550855pt;}
.y66{bottom:172.104220pt;}
.y80{bottom:174.078857pt;}
.y42{bottom:179.396151pt;}
.y51{bottom:186.296236pt;}
.y23{bottom:188.949536pt;}
.y65{bottom:190.502881pt;}
.y7f{bottom:204.276245pt;}
.y50{bottom:204.694898pt;}
.y22{bottom:207.348177pt;}
.y64{bottom:208.901563pt;}
.y41{bottom:217.833529pt;}
.y4f{bottom:223.093559pt;}
.y21{bottom:225.746859pt;}
.y63{bottom:227.300224pt;}
.y7e{bottom:234.473551pt;}
.y4e{bottom:241.492230pt;}
.y20{bottom:244.145500pt;}
.y62{bottom:245.698885pt;}
.y40{bottom:252.972201pt;}
.y4d{bottom:259.890892pt;}
.y1f{bottom:262.544182pt;}
.y61{bottom:264.097547pt;}
.y7d{bottom:264.670898pt;}
.y3f{bottom:271.370842pt;}
.y4c{bottom:278.289563pt;}
.y1e{bottom:280.942863pt;}
.y60{bottom:282.496228pt;}
.y3e{bottom:289.769523pt;}
.y7c{bottom:294.868205pt;}
.y4b{bottom:296.688224pt;}
.y1d{bottom:299.341545pt;}
.y5f{bottom:300.894890pt;}
.y3d{bottom:308.168205pt;}
.y4a{bottom:315.086896pt;}
.y1c{bottom:317.740206pt;}
.y5e{bottom:319.293551pt;}
.y7b{bottom:324.349569pt;}
.y3c{bottom:326.566887pt;}
.y49{bottom:333.485557pt;}
.y5d{bottom:337.692222pt;}
.y1b{bottom:350.560173pt;}
.y7a{bottom:351.292236pt;}
.y5c{bottom:356.090884pt;}
.y3b{bottom:365.004203pt;}
.y48{bottom:371.922887pt;}
.y5b{bottom:374.489555pt;}
.y79{bottom:378.950928pt;}
.y5a{bottom:392.888216pt;}
.y1a{bottom:399.432202pt;}
.y78{bottom:409.148234pt;}
.y59{bottom:411.286888pt;}
.y3a{bottom:417.232210pt;}
.y19{bottom:417.830864pt;}
.y58{bottom:429.685549pt;}
.y39{bottom:435.630872pt;}
.y18{bottom:436.229545pt;}
.y38{bottom:454.029553pt;}
.y17{bottom:454.628207pt;}
.y77{bottom:466.385559pt;}
.y57{bottom:468.122879pt;}
.y37{bottom:472.428215pt;}
.y16{bottom:473.026868pt;}
.y36{bottom:490.826876pt;}
.y15{bottom:491.425539pt;}
.y76{bottom:493.328247pt;}
.y47{bottom:494.064575pt;}
.y35{bottom:509.225547pt;}
.y14{bottom:509.824201pt;}
.y75{bottom:520.986898pt;}
.y34{bottom:527.624209pt;}
.y13{bottom:528.222872pt;}
.y33{bottom:546.022880pt;}
.y12{bottom:546.621533pt;}
.y74{bottom:551.184224pt;}
.y32{bottom:564.421542pt;}
.y11{bottom:565.020205pt;}
.y31{bottom:582.820213pt;}
.y10{bottom:583.418866pt;}
.y30{bottom:601.218874pt;}
.y73{bottom:609.137563pt;}
.yf{bottom:621.856196pt;}
.y72{bottom:628.668223pt;}
.y2f{bottom:639.656204pt;}
.y71{bottom:648.198893pt;}
.y70{bottom:667.729563pt;}
.y6f{bottom:697.926900pt;}
.y6e{bottom:736.589561pt;}
.y7{bottom:771.264608pt;}
.y3{bottom:922.797943pt;}
.h16{height:18.832863pt;}
.h17{height:33.257812pt;}
.h2{height:34.178668pt;}
.h15{height:36.953125pt;}
.h3{height:38.800781pt;}
.h9{height:40.648438pt;}
.he{height:42.656250pt;}
.h14{height:44.343750pt;}
.hc{height:46.593750pt;}
.hd{height:46.656250pt;}
.h8{height:51.734375pt;}
.h6{height:54.432292pt;}
.hb{height:69.890625pt;}
.h5{height:108.718750pt;}
.h7{height:122.270866pt;}
.h4{height:137.404197pt;}
.h11{height:403.670890pt;}
.h12{height:499.870882pt;}
.ha{height:653.604199pt;}
.hf{height:671.404208pt;}
.h13{height:768.804232pt;}
.h10{height:1055.333333pt;}
.h1{height:1066.666667pt;}
.h0{height:1122.533366pt;}
.w9{width:233.133341pt;}
.wa{width:236.636332pt;}
.w5{width:245.000000pt;}
.w4{width:445.000000pt;}
.w3{width:446.000000pt;}
.w7{width:452.533325pt;}
.w8{width:469.600016pt;}
.w2{width:721.133382pt;}
.w6{width:755.266683pt;}
.w0{width:793.733317pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x7{left:9.598426pt;}
.xc{left:12.733334pt;}
.x11{left:21.598426pt;}
.x10{left:27.199999pt;}
.x2{left:28.733332pt;}
.x3{left:34.929091pt;}
.x12{left:45.598426pt;}
.xd{left:51.995759pt;}
.x6{left:58.066666pt;}
.x15{left:153.294422pt;}
.x14{left:190.630420pt;}
.x5{left:263.942420pt;}
.xf{left:281.009090pt;}
.x4{left:290.233110pt;}
.xe{left:307.299760pt;}
.x8{left:340.222449pt;}
.x9{left:349.143754pt;}
.xa{left:351.791744pt;}
.xb{left:512.733317pt;}
.x13{left:514.399984pt;}
.x16{left:519.399984pt;}
.x1{left:707.237320pt;}
}
